.relative{
    background-color: blue;
    height: 200px;
    position: relative;
    top: 80px;
    left:10px;
}
.absolute{
    background-color: goldenrod;
    height: 200px;
    width: 100px;
    position: absolute;
    top: 10px;
}
h1{
    background-color: red;
    height:40px;
}